{{- if eq .chezmoi.hostname "anthonys-macbook-pro"}}

export NVM_DIR=~/.nvm
source ~/.nvm/nvm.sh
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/anthony/miniforge3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/anthony/miniforge3/etc/profile.d/conda.sh" ]; then
        . "/Users/anthony/miniforge3/etc/profile.d/conda.sh"
    else
        export PATH="/Users/anthony/miniforge3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

{{- end }}

{{- if eq .chezmoi.hostname "fedora" }}
# Lines configured by zsh-newuser-install
HISTFILE=~/.zsh/histfile
HISTSIZE=10000
SAVEHIST=10000
bindkey -e
# End of lines configured by zsh-newuser-install

# Custom key bindings
bindkey "^[[1;5C" forward-word # ctrl + right arrow
bindkey "^[[1;5D" backward-word # ctrl + left arrow
bindkey "^[[H" beginning-of-line # home
bindkey "^[[F" end-of-line # end
bindkey "^[[3~" delete-char # del

# CUDA
export PATH=${PATH}:/usr/local/cuda/bin

# Rust Cargo
export PATH=${PATH}:~/.cargo/bin

# zsh-autosuggestions
source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh

# Chezmoi editor (config toml doesn't work?)
export EDITOR="nvim"
{{- end }}

# Starship prompt
eval "$(starship init zsh)"

