[user]
	name = Anthony Dickson
	email = anthony.dickson9656@gmail.com
[init]
	defaultBranch = main

{{ if eq .chezmoi.hostname "nixos" -}}
[credential "https://github.com"]
  helper = !/etc/profiles/per-user/anthony/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/etc/profiles/per-user/anthony/bin/gh auth git-credential
{{ end }}
